.footer {
    position: fixed;
    bottom: 10px;
    width: 100%;
    z-index:98;
    background: transparent;
    color: #c2c2c2;
}

.heart {
    color: #EB5E28;
    animation: heathing 1s ease infinite;
  }
  
  @keyframes heathing {
    0% {
      transform: scale(0.75);
    }
    20% {
      transform: scale(1);
    }
    40% {
      transform: scale(0.75);
    }
    60% {
      transform: scale(1);
    }
    80% {
      transform: scale(0.75);
    }
    100% {
      transform: scale(0.75);
    }
  }